header{
    margin-top: 5%;
}

body{
    background-color: dimgrey;
    font-family: 'Permanent Marker', cursive;
    
}

footer{
    margin-bottom: 20%;
    text-align: center;
}

#mainTitle{
    font-size: 75px;
    font-family: 'Permanent Marker', cursive;

}

#myinput{
    width: auto;
    height: 30px;
    border-radius: 5px;
    
    font-family: 'Permanent Marker', cursive;
}

#scoreButton{
    width: auto;
    height: 30px;
    border-radius: 5px;
    font-family: 'Permanent Marker', cursive;
}

#restartButton{
    width: auto;
    height: 35px;
    border-radius: 5px;
    font-family: 'Permanent Marker', cursive;
}

.score-board{
    margin: 20px;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    
}

.game-board { 
    display: grid;
    justify-content: space-around;
    grid-template-rows: repeat(4, 150px);
    grid-template-columns: repeat(4,150px); 
    column-gap: 5px; 
    row-gap: 5px;
    justify-content: space-evenly;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    margin: 10%; 
    
}

img{/* width: 100%; */
    display: block;
    width: 150px;
    /* height: 100%; */
    height: 125px;
    align-content: center;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    /* visibility: hidden; */
}

.game-card{
    
    
}



    
    
    